/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f9f9f9;
}

#introduction a {
  color: blue; /* Makes the link color black */
  margin-bottom: 10px;
}

#introduction a:hover {
  color: darkgray; /* Changes the color when hovered over (optional) */
}

h1{
  text-align: center;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
}


h2, h4 {
  margin-top: 10px;
  text-align: left;
  color: navy;
}

h2, h3 {
  margin-top: 10px;
  text-align: left;
  color: white;
}

/* Header Section */
#header {
  background-color: navy; /* Light blue */
  padding: 20px;
}

/* Content Section */
.content-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin: 20px auto;
  padding: 20px;
  max-width: 1200px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.myImage {
  max-width: 350px;
  height: 600;
  border-radius: 8px;
  object-position: center;
}

/* Right Section: Details */
.details-container p:first-of-type {
  margin-bottom: 10px;
  flex: 2;
}

.details-container ul, .details-container ol {
  margin-left: 20px;
}

.details-container a {
  color: white;
  text-decoration: none;
}

.details-container a:hover {
  text-decoration: underline;
}

/* Footer Section */
#footer {
  text-align: left;
  padding: 10px;
  background-color: #011c25;
  color: white;
}
